[Unit]
Description=Pastebin dumper worker

[Service]
Type=simple
User=www-data
Environment=DJANGO_SETTINGS_MODULE=pastebin_dumper.settings
ExecStart=/bin/bash -c "cd /var/www/pastebin_dumper/; celery -A pastebin_dumper worker"

[Install]
WantedBy=multi-user.target
